.loginDiv {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	overflow: hidden;
	outline: 0;
	background-color: #333;
}

#loginForm {
	width: 600px;
	padding: 30px 80px 25px 60px;
    display: none;
    margin: 120px auto;
	background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
}

body {
    margin: 0;
}
header div {
    background-color: #6f5499;
    padding: 40px;
    font-family: Microsoft YaHei, fantasy;
    font-size: 2em;
    color: white;
}
header span {
    display: block;
}
.userName {
    font-size: large;
    float: right;
}
.userName a:hover, .userName a:focus {
    color: white;
}
.userName a {
    color: #cfcfcf;
}

footer div {
    background-color: #8163B0;
    /*height: 80px;*/
    padding: 40px;
    padding-bottom: 20px;
    font-family: Microsoft YaHei, fantasy;
    font-size: normal;
    color: #e5e5e5;
    text-align: center;
}