.loginDiv {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	overflow: hidden;
	outline: 0;
	background-color: #333;
}

#loginForm {
	width: 600px;
	padding: 30px 80px 25px 60px;
    display: none;
    margin: 120px auto;
	background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
}